{% extends 'layout.html.twig' %}

{% block body %}
  {% set errors = data.length %}
  {% if errors %}
    <header class="header header--error">
      <h1>Your duplicated rules.<br>Take and polish'em!</h1>
    </header>
  {% else %}
    <header class="header header--success">
      <h1>No duplicated rules.<br>You are awesome!</h1>
    </header>
  {% endif %}

  {% if errors %}
    <section class="code">
      <ul>
        {% for msg in data %}
          <li class="code-item">
            <span class="code-item-count">{{ msg.count }}x</span>
            {% include '_msg.html.twig' with msg %}
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
{% endblock %}
