<!doctype html>
<title>CSSCSSBeauty</title>
<link href="/main.css" rel="stylesheet">
<link href="/prism.css" rel="stylesheet">

{% block body %}{% endblock %}

<script src="/socket.io/socket.io.js"></script>
<script src="/prism.js"></script>
<script>
  (function() {
    'use strict';
    var socket = io.connect(location.toString());
    socket.on('update', function() {
      location.href = location.href;
    });
  })();
</script>
