body {
	font-family: sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

.header {
	height: 15em;
  padding: 1em 1em 4em 2em;
}

.header--error {
  background: brown;
}

.header--success {
  background: #40B51B;
  height: 100%;
  display: flex;
  box-sizing: border-box;
}

.header--success h1 {
  margin: auto;
}

h1 {
	color: #fff;
	font-size: 5em;
	text-align: center;
}

.code {
	padding: 2em;
	font-size: 1em;
}

li {
	display: inline-block;
	margin: 0 0 2em 2em;
	vertical-align: top;
}

ul,
dl {
	margin: 0;
	list-style: none;
}

.code-item {
 position: relative;
}

.code-item-count {
  color: brown;
  background: lightgrey;
  padding: 7px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  right: 10px;
  top: -10px;
}

code {
  line-height: 1.1em;
}
